<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ path('home') }}">Boutique Douceur de lune</a>
      <img class="logo-site" src="{{ asset('img/logo-croissant.webp') }}" alt="Logo du site, un croissant de lune doré"> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mes cours
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://localhost:8000/cours/atelier-de-portage">Portage</a></li>
              <li><a class="dropdown-item" href="https://localhost:8000/cours/consultation-d-allaitement">Allaitement</a></li>
              <li><a class="dropdown-item" href="https://localhost:8000/cours/rituel-rebozo">Rituel rebozo</a></li>
              <li><a class="dropdown-item" href="https://localhost:8000/cours/cercle-mamans-bebes">Cercle des mamans</a></li>
              {# <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Quotidien</a></li> #}
            </ul>
          </li>
          {# <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('home') }}">Accueil</a>
          </li> #}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="http://localhost:8000/mon-parcours">Qui suis-je ?</a>
          </li>
          
          {# <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> #}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('admin') }}" target="_blank">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000">Nos cours</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if app.user %}
              <li class="nav-item">
                  <a class="nav-link" href="#">Mon compte</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-danger" href="{{ path('app_logout') }}">Me déconnecter</a>
              </li>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_register') }}">M'inscrire</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-success" href="{{ path('app_login') }}">Me connecter</a>
              </li>
          {% endif %}
      </ul>
      
         
        </ul>
      </div>
    </div>
  </nav>