{% extends 'base.html.twig' %}

{% block title %}Panier de {{ app.user.firstname }}{% endblock %}

{% block body %}

<div class="full-background">
    <div class="content-wrapper">
        <div class="left-block">

    <main class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
        <section class="row">

            <div class="col-12">
                <h1 class="main-title margin-title-cart">Panier de {{ app.user.firstname }} </h1>
                
            </div>

                <div class="card mb-5 card-color">

                        <div class="cards-container">
                            {% for element in data %}
                            <div class="card card-shadow card-background">
                                <img src="{{ asset('img/' ~ element.product.imgName) }}" alt="{{ element.product.name }}" class="card-image">
                                <div class="card-body2">
                                    <h2 class="card-title">{{ element.product.name }}</h2>
                                    <p class="card-price">{{ element.product.price / 100 }} €</p>
                                    <p class="card-quantity">
                                        Quantité : {{ element.quantity }} &nbsp;
                                        <a href="{{ path("cart_add", { id: element.product.id }) }}" class="btn btn-success">+</a>
                                        <a href="{{ path("cart_remove", { id: element.product.id }) }}" class="btn btn-warning">-</a>
                                       
                                    </p>
                                    <p class="card-subtotal"> En stock : <span id="stockForProduct{{ element.product.id }}">{{ element.product.stock }}</span></p>
                                    <p class="card-subtotal">{{ element.quantity * element.product.price / 100 }} €</p>
                                    <a href="{{ path("cart_delete", { id: element.product.id }) }}" class="btn btn-danger">Supprimer</a>
                                </div>
                                </div>
                            {% else %}
                                <p>Votre panier est vide.</p>
                            {% endfor %}
                        </div>  

                </div>

        </section>
 
    </main>   
    </div>

        <div class="right-block">
            <div class="card summary-card">
                <div class="card-body">
                    <h2 class="card-title vold">Récapitulatif :</h2>
                    <p class="card-info" id="totalItems">Total : <span class="gold ">{{ totalItems is defined ? totalItems : 0 }}</span> article(s)</p>
                    <p class="card-info letter-spa">
                  Prix total : <span id="total" class="gold">{{ (total / 100)|number_format(2, '.', '') }} €</span>
                    <span id="discount" class="text-success">
                        {% if discount > 0 %} 
                        ({{ discount }}% de remise)
                        {% endif %}
                    </span>
                    </p>


                    
                    <button class="btn btn-danger2">
                        <a href="{{ path("cart_vider") }}" class="">Vider</a>
                    </button>
                    
                </div>
            </div>

            <div class="card summary-card">
                <div class="card-body">                  
                    <form action="{{ path('cart_index') }}" method="post">
                        <div class="coupon-code">
                            <input type="text" name="code" class="input-code" placeholder="Code promo" />
                            <button type="submit" class="btn btn-success btn-success2">Valider</button>
                        </div>
                    </form>
                    
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}
