{% extends 'base.html.twig' %}

{% block title %}Details de {{ product.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12">
            <h1 class="main-title">Caractéristique de  {{ product.name }}</h1>
        </div>

            <div class="card mb-5">
                <h3 class="card-header"> {{ product.name }}</h3>
                <div class="card-body">
                </div>
                <svg xmlns="#" class="d-block user-select-none" width="100%" height="350" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">                
                    <image href="{{ asset('img/' ~ product.imgName) }}" x="0" y="-100" width="318" height="350"></image>
                </svg>
                
                <li class="list-group-item list-title last-margin"> {{ product.name }}</li>
                <li class="list-group-item"> {{ product.description }}</li>
                <li class="list-group-item"> En stock : {{ product.stock }}</li>
                <li class="list-group-item"> Prix : {{ (product.price / 100)|number_format(2, ',', '') }}€ </li>
                <div class="card-body">
                    <button type="button" class="btn btn-primary">
                        <a href="https://buy.stripe.com/test_9AQ8yCa4zgzidlC7sx" class="card-link">Acheter</a>
                    </button>
                    <a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-primary bis">
                        Ajouter
                    </a>
                    <button class="add-to-cart-button" data-product-id="{{ product.id }}">Add to cart</button>

                </div>
            </div>

    </section>

</main>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset("assets/js/bootstrap/bootstrap.bundle.min.js") }}" defer></script>
    <script>
        $(document).ready(function() {
            $('.add-to-cart-button').off('click').click(function() {
                console.log('Bouton cliqué');
                var productId = $(this).data('product-id');
                
                $.ajax({
                    url: "{{ path('add_to_cart') }}",
                    method: 'POST',
                    data: {
                        productId: productId
                    },
                    success: function(response) {
                        $('#totalItems').text(response.cartCount);
                        alert(response.message);
                        
                    },
                    error: function() {
                        alert('Une erreur est survenue lors de l\'ajout au panier.');
                    }
                });
            });
        });
    </script>
{% endblock %}


 {# <script src="{{ asset('assets/js/script.js') }}"></script>

<script>
    document.querySelector('.add-to-cart-button').addEventListener('click', function() {
        const productId = this.dataset.productId;
        addToCart(productId);
    });
    
    function addToCart(productId) {
        fetch(`https://localhost:8000/produits/${slug}`, {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
            },
        })
        .then(response => response.json())
        .then(data => {
           
            document.querySelector('.cart-items').textContent = data.totalItems;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script> #}


{% endblock %}
