<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo-croissant.webp') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{{ asset("assets/css/bootstrap/bootstrap.min.css") }}">
        
        {% block stylesheets %}
        {# A mettre après pour overwrite le style de la balise Stylsheet avec le CSS custom #}
        <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">
        <link rel="stylesheet" href="{{ asset("assets/css/responsive.css") }}">
        {% endblock %}
        
        
       
    </head>



    <body>

        {% include "_partials/_nav.html.twig" %}

        {% block body %}{% endblock %}

        {% include "_partials/_footer.html.twig" %}

        {% block javascripts %}
            <script src="{{ asset("assets/js/bootstrap/bootstrap.bundle.min.js") }}" defer> </script>
        {% endblock %}
    </body>

</html>
